body {
  font-size: 16px;
  font-family: Raleway, Helvetica Neue, Helvetica, sans-serif;
  color: #111;
}

/* header styles */
.page-header {
  background: #fff;
  border-bottom: 1px solid #c6c6c6;
}
.page-header-logo {
  display: block;
  width: 138px;
  height: 10px;
  margin: 1rem auto;
}
/* header styles end */

/* page heading */
.product-header {
  padding: 0 1rem;
  border-bottom: 1px solid #c6c6c6;
}
.product-header-text {
  margin: 1rem 0;
  font-family: Lora, serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #171717;
}
/* page heading end */
/* product slider */
.product-slider {
  display: flex;
  overflow-x: scroll;
}
.product-slider-img {
  display: block;
  width: 300px;
  height: 400px;
}
/* product slider end */
/* product-info */
.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.product-info-price {
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 19px;
  font-weight: 400;
}
.product-info-code {
  margin: 1rem 0;
  font-size: .75rem;
  line-height: 14px;
}
/* product-info end */
/* product-color */
.product-color {
  padding: 0 1rem;
}
.product-color-text {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: .75rem;
  line-height: .875rem;
}
.product-color-toggler {
  display: flex;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #c6c6c6;
}
.product-color-toggler-btn {
  box-sizing: border-box;
  display: block;
  padding: 20px;
  margin-right: 1rem;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}
.product-color-toggler-btn-active {
  padding: 19px;
  border: 1px solid #232122;
}
.color-togl-black  {
  background: #232122;
}
.color-togl-honey  {
  background: #cfa880;
}
/* product-color end */
/* product-buttons */
.product-buttons {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  border-bottom: 1px solid #c6c6c6;
}
.product-buttons-btn {
  display: block;
  width: 100%;
  height: 48px;
  padding: 1rem 0;
  border: 1px solid #171717;
  border-radius: 2px;
  font-family: Raleway, Helvetica Neue, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
.product-buttons-btn-black {
  margin-bottom: 1rem;
  color: #fff;
  background-color: #171717;
}
.product-buttons-btn-white {
  margin-bottom: 1.5rem;
  color: #171717;
  background-color: #fff;
}
.product-buttons-btn-text {
  display: block;
  padding: 0;
  margin-bottom: 3rem;
  border: 0;
  font-family: Raleway, Helvetica Neue, Helvetica, sans-serif;
  font-size: .75rem;
  line-height: 14px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  background: none;
  color: #171717;
  cursor: pointer;
}
/* product-buttons end */

/* product accordion */
.accordion-row {
  padding: 0 1rem;
  border-bottom: 1px solid #c6c6c6;
}
.accordion-row-head-btn {
  display: block;
  width: 100%;
  padding: 0;
  border: 0;
  font-family: Raleway, Helvetica Neue, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: left;
  line-height: 19px;
  background-color: #fff;
}
.accordion-row-head-text {
  position: relative;
  margin: 2rem 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 19px;
}
.accordion-row-head-text::after {
  content: "";
  display: block;
  width: 10px;
  height: 19px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(img/triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.accordion-row-body {
  display: none;
  padding-bottom: 2rem;
}
.accordion-row-body-text {
  margin: 0;
  font-family: Lora, serif;
  font-size: 14px;
  line-height: 1.5rem;
}
.accordion-text-break {
  line-height: 1.5rem;
}
.accordion-row-body-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.accordion-row-open .accordion-row-body {
  display: block;
}
.accordion-row-open .accordion-row-head-text::after {
  transform: rotate(180deg);
}
/* product accordion end */

/* product recomendations */
.recomendations {
  padding: 0 1rem;
}
.recomendations-heading {
  display: inline-block;
  margin-top: 39px;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 36px;
  border-bottom: 1px solid #111;
  text-transform: uppercase;
}
.recomendations-blocks {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.recomendations-blocks-block {
  box-sizing: border-box;
  display: block;
  flex-basis: 50%;
  margin-bottom: 2rem;
  color: #171717;
  text-decoration: none;
}
 .recomendations-blocks-block:nth-child(2n) {
  padding-left: 14px;
}
.recomendations-blocks-block:nth-child(2n+1) {
  padding-right: 14px;
} 
.recomendations-blocks-block-img {
  display: block;
  width: 130px;
  height: 174px;
}
.recomendations-blocks-block-name {
  margin: .5rem 0;
  font-family: Lora, serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1875;
}
.recomendations-blocks-block-price {
  margin: 0;
  font-size: .75rem;
  line-height: 16px;
  font-weight: 400;
  color: #999;
}
/* product recomendations end */

/* product more-links */
.more-links {
  padding: 0 1rem;
}
.more-links-heading {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 36px;
  border-bottom: 1px solid #111;
  text-transform: uppercase;
}
.more-links-block {
  margin: 0;
  padding: 0;
  list-style: none;
}
.more-links-link {
  display: block;
  margin-bottom: 1rem;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  font-style: italic;
  color: #171717;
}
/* product more-links end */





















/* product page accordion end */

.block-heading {
  display: inline-block;
}
.block-heading hr {
  height: 1px;
  display: block;
  padding: 0;
  margin-top: 0;
  margin-bottom: 1.5rem;

  border: 0;
  border-top: 1px solid #171717;
}
.block-heading .heading {
  margin-bottom: .5rem;
  margin-top: 0;

  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #171717;
}
.recomendations-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.recomendations-grid_card {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.recomendations-grid_card:nth-child(2n) {
  padding-left: 14px;
}
.recomendations-grid_card:nth-child(2n+1) {
  padding-right: 14px;
}
.recomendations-grid_card img {
  display: block;
  width: 100%;
}
.recomendations-grid_card_name {
  margin: .5rem 0;

  font-family: Lora, serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.2rem;
  color: #111;
}
.recomendations-grid_card_price {
  margin: 0;
  margin-bottom: 2rem;

  font-family: Lora, serif;
  font-size: .75rem;
  line-height: 1.2;
  font-weight: normal;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  color: #999;
}

.links-wrapper {
  margin-bottom: 4rem;
}
.links-wrapper .block-heading hr {
  margin-bottom: 1.5rem;
}
.links-wrapper a {
  display: block;
  margin-bottom: 1rem;

  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  font-style: italic;
  color: #171717;
}

.footer {
  padding-top: 2rem;
  margin-bottom: 10rem;

  background: #f3f3f3;
}
.footer_shipping,
.footer_lang {
  margin-bottom: 1rem;
  border: 0;
  padding: 0;

  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-size: .75rem;
  line-height: 1.1;
  background: none;
  color: #999999;
}
.footer_lang {
  margin-bottom: 1.5rem;
}
.footer_help {
  margin: 0;
  margin-bottom: 1rem;
  
  text-align: center;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #171717;
}
.footer_more {
  display: block;
  padding-bottom: 2rem;
  margin-bottom: 0;
  
  text-align: center;
  font-size: 14px;
  font-style: italic;
  text-decoration: none;
  color: #171717;
}