body {
  font-size: 1rem;
  font-family: Raleway, Helvetica Neue, Helvetica, sans-serif;
  color: #111;
}


/* header styles */

.page-header {
  background: #fff;
  border-bottom: 1px solid #c6c6c6;
}

.page-header-logo {
  display: block;
  margin: 1rem auto;
}


/* header styles end */


/* page heading */

.product-header {
  padding: 0 1rem;
}

.product-header-text {
  margin: 1rem 0;
  font-family: Lora, serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #171717;
}


/* page heading end */


/* product slider */

.product-slider {
  display: flex;
  overflow-x: scroll;
}

.product-slider-img {
  display: block;
  width: 100%;
}


/* product slider end */


/* product-info */

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.product-info-price {
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.product-info-code {
  margin: 1rem 0;
  font-size: .75rem;
  line-height: 0.875rem;
}


/* product-info end */


/* product-color */

.product-color {
  padding: 0 1rem;
}

.product-color-text {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: .75rem;
  line-height: 0.9375rem;
}

.product-color-toggler {
  display: flex;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #c6c6c6;
}

.product-color-toggler-btn {
  box-sizing: border-box;
  display: block;
  padding: 1.25rem;
  margin-right: 1rem;
  border: 0;
  border-radius: 50%;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
}

.product-color-toggler-btn-active {
  padding: 1.1875rem;
  border: 1px solid #232122;
}

.color-togl-black {
  background: #232122;
}

.color-togl-honey {
  background: #cfa880;
}


/* product-color end */


/* product-buttons */

.product-buttons {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  border-bottom: 1px solid #c6c6c6;
}

.product-buttons-btn {
  /* if height not set manually, button 
  never gets 48px height (47.6 || 48.4) */
  height: 48px;

  display: block;
  width: 100%;
  padding: 1rem 0;
  border: 1px solid #171717;
  border-radius: 2px;
  font-family: Raleway, Helvetica Neue, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 400;
  line-height: 0.9375rem;
}

.product-buttons-btn-black {
  margin-bottom: 1rem;
  color: #fff;
  background-color: #171717;
}

.product-buttons-btn-white {
  margin-bottom: 1.5rem;
  color: #171717;
  background-color: #fff;
}

.product-buttons-btn-text {
  display: block;
  padding: 0;
  margin-bottom: 3rem;
  border: 0;
  font-family: Raleway, Helvetica Neue, Helvetica, sans-serif;
  font-size: .75rem;
  line-height: 1rem;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  background: none;
  color: #171717;
  cursor: pointer;
}


/* product-buttons end */


/* product accordion */

.accordion-row {
  padding: 0 1rem;
  border-bottom: 1px solid #c6c6c6;
}

.accordion-row-head-btn {
  display: block;
  width: 100%;
  padding: 0;
  border: 0;
  font-family: Raleway, Helvetica Neue, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: left;
  line-height: 1.1875rem;
  background-color: #fff;
}

.accordion-row-head-text {
  position: relative;
  margin: 2rem 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.accordion-row-head-text::after {
  content: "";
  display: block;
  width: 10px;
  height: 19px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(img/triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.accordion-row-body {
  display: none;
  padding-bottom: 2rem;
}

.accordion-row-body p,
.accordion-row-body ul li {
  margin: 0;
  font-family: Lora, serif;
  font-size: .875rem;
  line-height: 1.5rem;
}

.accordion-row-body br {
  line-height: 1.5rem;
}

.accordion-row-body ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.accordion-row-open .accordion-row-body {
  display: block;
}

/* .accordion-row-open .accordion-row-head-text {
  line-height: 1.1875rem;
} */

.accordion-row-open .accordion-row-head-text::after {
  transform: rotate(180deg);
}


/* product accordion end */


/* product recomendations */

.recomendations {
  padding: 0 1rem;
}

.recomendations-heading {
  display: inline-block;
  padding-bottom: .5rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1875rem;
  border-bottom: 1px solid #111;
  text-transform: uppercase;
}

.recomendations-blocks {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.recomendations-blocks-block {
  box-sizing: border-box;
  display: block;
  flex-basis: 50%;
  margin-bottom: 30px;
  color: #171717;
  text-decoration: none;
}

.recomendations-blocks-block:nth-child(2n) {
  padding-left: .875rem;
}

.recomendations-blocks-block:nth-child(2n+1) {
  padding-right: .875rem;
}

.recomendations-blocks-block-img {
  display: block;
  width: 100%;
  /* leave img height for zepplin norm compare */
  height: 174px;
}

.recomendations-blocks-block-name {
  margin: .5rem 0;
  font-family: Lora, serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.recomendations-blocks-block-price {
  margin: 0;
  font-size: .75rem;
  line-height: .75rem;
  font-weight: 400;
  color: #999;
}


/* product recomendations end */


/* product more-links */

.more-links {
  padding: 0 1rem;
  margin-bottom: 4rem;
}

.more-links-heading {
  display: inline-block;
  padding-bottom: .5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  border-bottom: 1px solid #111;
  text-transform: uppercase;
}

.more-links-block {
  margin: 0;
  padding: 0;
  list-style: none;
}

.more-links-link {
  display: block;
  margin-bottom: 1rem;
  font-family: Lora, serif;
  font-size: .75rem;
  line-height: 17px;
  text-decoration: none;
  font-style: italic;
  color: #171717;
}


/* product more-links end */


/* page footer */

.page-footer {
  padding: 2rem 1rem;
  background: #f3f3f3;
}

.page-footer-shipping, .page-footer-lang {
  display: block;
  margin-bottom: 1rem;
  padding: 0;
  border: 0;
  font-family: Raleway, Helvetica Neue, Helvetica, sans-serif;
  font-size: .75rem;
  line-height: 1rem;
  background: none;
  color: #999999;
}

.page-footer-lang {
  margin-bottom: 1.5rem;
}

.page-footer-help {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #171717;
}

.page-footer-more {
  display: block;
  margin-bottom: 0;
  font-family: Lora, serif;
  text-align: center;
  font-size: .75rem;
  line-height: 1rem;
  font-style: italic;
  text-decoration: none;
  color: #171717;
}


/* page footer end */